*{
    background-color: rgb(36, 34, 34);
}

h1,h2{
    color: antiquewhite;
}

.color-title{
    font-weight: normal;
}

#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}

img{
    height: 200px;
    width: 200px;
}